    *{
    margin:0;
    padding:0;
    font-family: sans-serif;
    }


    .medsos{
        padding: 10px 0;
        background-color: #FA4646;
    }
    .medsos ul li{
        display: inline-block;
        color:white;
        margin-right: 5px;
        padding: 8px;
    }
    .medsos ul li a{
            color: inherit;
            text-decoration: none;
    }
    .isi{
        width: 80%;
        margin: 0 auto;
    }
    .isi:after{
        Content: ' ';
        Display: block;
        Clear: both;
        }
    header{
        
    }
    header h1{
        
        float: left;
        padding: 15px 0;
        color: #FA4646;
    }
    header h1 a{
            color: inherit;
            text-decoration: none;
    }
    header ul{
        
        float: right;
    }
    header ul a{
        color: inherit;
        text-decoration: none;
    }
    header ul li{
        display: inline-block;
    }
    header ul li a{
        padding: 25px 20px;
        display: inline-block;
    }
    header ul li a:hover{
        background-color: #FA4646;
        color: white;
    }
    .active{
        background-color: #FA4646;
        color: white;
    }
    .banner{
        height: 60vh;
        background-image: url(../img/banner.jpg);
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner:after{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250, 70, 70, .6);
    }
    .banner h2{
        font-size: 50px;
        color: white;
        z-index: 1;
        padding: 50px 75px;
        border: 3px solid #fff;
    }
    section{
        padding: 50px 0;
    }
    .shopping{
        &-item{
            width: 18%;
            h4{
                margin-bottom: 5px;
            }
            h5{
                margin-bottom: 10px;
            }
        }
    }
    .shopping a{
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: bold;
        color: #FA4646;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
    }
    .shopping h4{
        text-align: center;
    }
    .shopping h5{
        text-align: center;
    }
    .d-flex{
        display: flex;
    }
    .jc-spacebetween{
        justify-content: space-between;
    }
    .spacersection{
        padding: 2% 0;
    }
    .title{
        font-size: 30px;
        color: #FA4646;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title h3{
        padding: 25px 300px;
        border-bottom: 3px solid #FA4646;
    }
    .producttitle{
        font-size: 50px;
        padding-left: 30px;
        color: #FA4646;
    }
    footer{
        background-color: #FA4646;
    }
